.downloadButtonContainer {
  position: absolute;
  right: 0;
  top: 61px;

  @media (--break-mobile) {
    display: none;
  }
}

.exportArea {
  position: absolute;
  left: -10000px;
  width: 1160px;
}

.resumeGroup {
  position: relative;
}

.mobileDownloadButton {
  position: fixed;
  z-index: 20;
  bottom: 10px;
  left: 10px;
}
