.containerWrapper {
  @media (--break-mobile) {
    & > div {
      padding: 0;
    }
  }
}

.exportArea {
  position: absolute;
  left: -10000px;
  width: 1160px;
}

.resumeGroup {
  position: relative;
}

.mobileDownloadButton {
  position: fixed;
  z-index: 20;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s;

  @media (--break-desktop) {
    display: none;
  }
}

.mobileDownloadButtonShown {
  opacity: 1;
  transform: scale(1);
}
