.grid {
  display: grid;
  grid-gap: 38px;

  @media (--break-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 615px) and (max-width: 972px) {
    grid-template-columns: 1fr 1fr;
  }
}

.project {
  position: relative;
  height: 188px;
  display: flex;

  &:hover {
    .projectLegend {
      opacity: 1;
      visibility: visible;
    }
  }
}

.projectLegend {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 23px;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  border-radius: 6px;
}

.projectTitle {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.projectLink {
  font-size: 0.875rem;
  color: var(--color-blue);
}

.projectDescription {
  margin: 0 0 10px 0;
  color: var(--color-grey);
  font-size: 0.875rem;
}

.projectImage {
  width: 100%;
  object-fit: cover;
}
