h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0;
}

p {
  line-height: 1.7em;
  margin: 1.2em 0;
  opacity: 0.8;
}

@font-face {
  font-family: "Poppins";
  src: url("/static/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("/static/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("/static/Poppins-Bold.ttf") format("truetype");
}
