:root {
  --font-face: 'Poppins', sans-serif;
  
  --color-white: #fff;
  --color-grey: #f6f6f6;
  --color-grey-2: #8c8c8c;
  --color-black: #1e1e1e;
  --color-black-2: #757575;
  --color-blue: #0070f3;
  --color-blue-2: #006ae6;
}
