.header {
  background: var(--color-black);
  width: 100%;
  font-size: 1rem;
  z-index: 10;
  transition: 0.8s;
}

.shadow {
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  padding-top: 64px;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.nav {
  position: absolute;
  top: 64px;
  left: 0;
  display: flex;
  flex-direction: column;
  background: var(--color-black);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s;

  @media (--break-desktop) {
    height: 64px !important;
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: transparent;
  }
}

.navOpen {
  height: auto;
}

.navItem {
  padding: 1.2em;
  text-decoration: none;
  color: var(--color-grey-2);
  transition: 0.3s;
  font-weight: 500;
  font-size: 1rem;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: var(--color-white);
  }
}

.navItemCurrent {
  color: var(--color-white);
}

.navToggler {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  width: 20px;
  background: transparent;
  align-items: flex-end;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  & span {
    background: var(--color-white);
    height: 2px;
    margin: 2px 0;
    width: 20px;
  }

  & span:nth-child(2) {
    width: 15px;
  }

  @media (--break-desktop) {
    display: none;
  }
}
