.button {
  background: transparent;
  border: none;
  padding: 0 3.5em;
  color: var(--color-white);
  height: 2.81em;
  border-radius: 30px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  background: var(--color-blue);
  border: 2px solid var(--color-blue);
  font-weight: 600;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:hover {
    background: var(--color-blue-2);
  }

  &:active {
    background: var(--color-blue-2);
    box-shadow: 0 0 0 rgba(0,0,0,.2);
  }

  @media (max-width: 550px) {
    display: flex;
    width: 100%;
  }
}
