.container {
  position: relative;
}

.picker {
  position: absolute;
  top: 50px;
  display: none;
  z-index: 5;
}

.pickerOpen {
  display: block;
}

.withLabel {
  top: 77px;
}

.pickerAlignmentLeft {
  left: 0;
}

.pickerAlignmentRight {
  right: 0;
}

