._20ZKkYDX7pqrpM9BqI0Vpv {
  background: transparent;
  border: none;
  padding: 0 3.5em;
  background: var(--color-blue);
  color: var(--color-white);
  height: 2.81em;
  border-radius: 7px;
  font-weight: 300;
  cursor: pointer;
  box-shadow: 0 4px 14px 0 rgba(0,118,255,0.39);
}

._3A_lbbwI5BomnorP0KQzeO {
  background: var(--color-black);
  color: var(--color-white);
}

._3fm40iwZ2JHamhZsVu4pRz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.75rem 1.5rem
}

@media (min-width: 768px) {

._3fm40iwZ2JHamhZsVu4pRz {
    padding: 7.75rem 1.5rem
}
  }

._1rXDrkbCzgJm6CdoSeIYhd, ._2fOAQL6nxxJq4ZF40VwBZh {
  margin: 0;
}

._1rXDrkbCzgJm6CdoSeIYhd {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 0.75rem;
}

._2fOAQL6nxxJq4ZF40VwBZh {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.1rem;
}

